* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f8f8;
}

.section {
  padding: 20px 15px;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.text {
  flex: 1 1 500px;
  text-align: justify;
}

.text h2 {
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
}

.text p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #555;
}

.text button {
  padding: 10px 25px;
  background-color: #8bc440;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.text button:hover {
  background-color: #FC9410;
}

.image {
  flex: 1 1 500px;
  text-align: center;
}

.image img {
  width: 100%;
  height: 345px;
  max-width: 500px;
  border-radius: 10px;
  transition: transform 0.5s;
}

.chairman-image img {
  width: 100%;
  height: 500px;
  max-width: 500px;
  border-radius: 10px;
  transition: transform 0.5s;
}


.image img:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .image, .text {
    flex: 1 1 100%;
  }
}
